# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
ENV/
.venv/

# Archivos de configuración local
.env
*.env

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/

# Archivos de testing
.coverage
htmlcov/
.pytest_cache/

# Distribución / build
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# Archivos temporales
*.swp